// @use "./utils/variables" as *;
@import "./utils/variables";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $primaryFontFamily;
  background-color: $primaryBg;
  color: $primaryFontColor;
}

.container {
  max-width: 480px;
  padding: 0px 15px;
  margin: 0px auto;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 15px;
    margin: 0px auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0px auto;
  }
}

img {
  display: block;
}

li {
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
      font-style: normal;
      font-size: 36px;
      line-height: 1.2;
      color: $primaryFontColor;
      letter-spacing: 0.03em;
      text-align: center;
    }
  }
}

@import "./components/header";
@import "./components/section";
@import "./components/footer";
@import "./components/modal";
